/*
 * CSS for jsPsych experiments.
 *
 * This stylesheet provides minimal styling to make jsPsych
 * experiments look polished without any additional styles.
 */

 /* Container holding jsPsych content */
*{
  font-family: 'Lato', sans-serif;
}
 .jspsych-display-element {
   display: flex;
   flex-direction: column;
   overflow-y: auto;
 }

   .ui-dialog-titlebar-close {
  display: none;
}

 
 .ui-widget-header { padding: 0.2em; }
 #List {
    width: 200px; 
    /*display: block;
*/
    

    /* bottom:38%; */
    /* left: 60.5%; */
}

.row{
  margin: auto;
  /*margin-bottom: 330px;
  margin-left: 125px;*/
}


#InstCount{
  width: 50px;

  /*display: block;
  */
}

#Title {
    margin-left: auto;
    /* margin-bottom: auto; */
    margin-right: auto;
    /* position: relative; */
    display: block; 
    font-size: 50px;
    font-family: 'Lato', sans-serif;
  /* position: absolute; */
  /* display: inline-block; */
  /*  /\*bottom: 550px; *\/ */
  /*  font-size: 50px; */
  /*  bottom:70%; */
  /*  right:45%; */
}

#nextButton{
   margin-left:auto;
    margin-bottom: auto;
    margin-right: auto;
  display: block;
  position:relative;
}
.progress{
  margin: auto;
  width:80%;
}
canvas[resize] {
    /* position: absolute; */
    margin:auto;
    position:inline-block;
    display: block;
    bottom:30%;
    left:40%;
    width: 300px;
    height: 300px;

    /*top: 100px;*/

  }




.wrapper {
  
  max-height: 100%;
  max-width: 100%;
  display: inline;;
}

[class|="confetti"] {

  position: absolute;
}

.red {
  background-color: #e94a3f;
}

.yellow {
  background-color: #faa040;
}

.blue {
  background-color: #5fc9f5;
}



 .jspsych-display-element:focus {
   outline: none;
 }

 .jspsych-content-wrapper {
   display: flex;
   margin: auto;
   flex: 1 1 100%;
   width: 100%;
 }

 .jspsych-content {
   max-width: 95%; /* this is mainly an IE 10-11 fix */
   text-align: center;
   margin: auto; /* this is for overflowing content */
 }

 .jspsych-top {
   align-items: flex-start;
 }

 .jspsych-middle {
   align-items: center;
 }

/* fonts and type */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

.jspsych-display-element {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}

/* Form elements like input fields and buttons */

.jspsych-display-element input[type="text"] {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
}

/* borrowing Bootstrap style for btn elements, but combining styles a bit */
.jspsych-btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', 'Arial', sans-serif;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.jspsych-btn:hover {
  background-color: #ddd;
  border-color: #aaa;
}

.jspsych-btn:disabled {
  background-color: #eee;
  color: #aaa;
  border-color: #ccc;
  cursor: not-allowed;
}

/* jsPsych progress bar */

#jspsych-progressbar-container {
  color: #555;
  border-bottom: 1px solid #dedede;
  background-color: #f9f9f9;
  margin-bottom: 1em;
  text-align: center;
  padding: 8px 0px;
  width: 100%;
  line-height: 1em;
}
#jspsych-progressbar-container span {
  font-size: 14px;
  padding-right: 14px;
}
#jspsych-progressbar-outer {
  background-color: #eee;
  width: 50%;
  margin: auto;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
#jspsych-progressbar-inner {
  background-color: #aaa;
  width: 0%;
  height: 100%;
}

/* Control appearance of jsPsych.data.displayData() */
#jspsych-data-display {
  text-align: left;
}

.active {
  background-color: green;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
